/*
 * Body reset */
html {
  height: 100%;
  margin: 0;
  padding: 0;
}
body {
  background: #fff;
  color: #333;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  height: 100%;
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'b-s-b', Asar, Georgia, Garamond, 'Times New Roman', Times, serif;
  font-weight: 500;
  margin: 0;
  padding: 0;
}
p {
  line-height: 1.4em;
  font-weight: 300;
}
/*
 * Links */
a {
  color: #00618D;
  text-decoration: none;
  cursor: pointer;
}
a:hover,
a:focus {
  color: #66A3B6;
  outline: none;
  text-decoration: none;
}
p a,
ul a,
ol a {
  border-bottom: 1px solid #00618D;
}
p a:hover,
ul a:hover,
ol a:hover {
  border-bottom: 1px solid #66A3B6;
}
a.no-border,
a.no-border:hover {
  border-bottom: none;
}
/*
 * Fonts */
@font-face {
  font-family: 'b-s-b';
  font-style: normal;
  font-weight: 300;
  src: url('../fonts/b-s-b-webfont.eot');
  src: url('../fonts/b-s-b-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/b-s-b-webfont.woff2') format('woff2'), url('../fonts/b-s-b-webfont.woff') format('woff'), url('../fonts/b-s-b-webfont.ttf') format('truetype'), url('../fonts/b-s-b-webfont.svg#bsb') format('svg');
}
/*
 * Headers */
h1 {
  font-size: 36px;
  line-height: 1.0em;
  margin: 40px 0 20px;
}
h2 {
  color: #444;
  font-size: 28px;
  font-weight: 500;
  line-height: 1.0em;
  margin: 30px 0 15px;
}
/*
 * Content */
p {
  line-height: 1.6em;
  margin: 15px 0;
}
blockquote,
pre {
  background: #eee;
  border: none;
  border-left: 5px solid #ddd;
  font-size: 16px;
  line-height: 1.6em;
  margin: 15px 0;
  padding: 18px 24px 20px 20px;
  text-indent: 0;
  display: inline-block;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
blockquote p:first-child,
pre p:first-child {
  margin-top: 0;
}
/*
 * Text control */
.title-font {
  font-family: 'b-s-b', serif;
}
.serif-font {
  font-family: Asar, Georgia, Garamond, serif;
}
.sans-font {
  font-family: 'Open Sans', sans-serif;
}
.bold-weight {
  font-weight: bold !important;
}
.italic-weight {
  font-style: italic !important;
}
.normal-weight {
  font-weight: normal !important;
}
.uppercase {
  text-transform: uppercase;
}
.normal-style {
  font-style: normal;
}
.centered-text {
  text-align: center;
}
.left-justified {
  text-align: left;
}
.right-justified {
  text-align: right;
}
.font-size-11 {
  font-size: 11px !important;
}
.font-size-13 {
  font-size: 13px !important;
}
.font-size-15 {
  font-size: 15px !important;
}
.font-size-17 {
  font-size: 17px !important;
}
.font-size-18 {
  font-size: 18px !important;
}
.font-size-21 {
  font-size: 21px !important;
}
.line-height-1-0 {
  line-height: 1.0em !important;
}
.line-height-1-3 {
  line-height: 1.3em !important;
}
.line-height-1-4 {
  line-height: 1.4em !important;
}
.line-height-1-5 {
  line-height: 1.5em !important;
}
.line-height-1-6 {
  line-height: 1.6em !important;
}
.line-height-1-7 {
  line-height: 1.7em !important;
}
.line-height-1-8 {
  line-height: 1.8em !important;
}
/*
 * Header and menu system */
header {
  background-color: transparent;
  border-bottom: 1px solid #fff;
  color: #383838;
  height: 75px;
  padding: 25px 0 0;
  position: fixed;
  width: 100%;
  z-index: 10;
  transition: background-color 0.5s ease, border 0.1s ease, padding 0.2s ease;
}
header h1 {
  color: #383838;
  position: absolute;
  font-size: 20px;
  margin: 0 0 0 5px;
  top: -50px;
  transition: top 0.10s ease;
}
header aside {
  float: right;
  padding: 0 15px 0 5px;
}
header aside > a {
  color: #383838;
}
header aside > a:hover {
  color: #398FA5;
}
header.more {
  background-color: rgba(255, 255, 255, 0.8);
  border-bottom: 1px solid #eee;
  height: 52px;
  padding: 15px 0 0;
  transition: background-color 0.4s ease, border 0.4s ease, padding 0.4s ease;
}
header.more h1 {
  color: #383838;
  top: 2px;
  transition: top 0.40s ease;
}
header menu {
  display: none;
  float: right;
  margin: 0;
  overflow: hidden;
  padding: 0;
  white-space: nowrap;
}
header menu .item {
  display: inline-block;
  margin: 0 10px 0 5px;
}
/*
 * Main content panes */
section#content {
  width: 100%;
  height: 100%;
}
article {
  position: relative;
  display: table;
  height: 100%;
  width: 100%;
  font-size: 18px;
  vertical-align: middle;
  /*
     * Contact form */
}
article .inner {
  display: table-cell;
  vertical-align: middle;
  padding: 50px 0;
  z-index: 1;
}
article p {
  line-height: 1.7em;
}
article#hi {
  background-color: #fff;
  background-image: url('../img/backgrounds/philly.png');
  background-position: bottom center;
  background-repeat: no-repeat;
  background-size: 1920px 250px;
  color: #383838;
  text-align: center;
}
article#hi h1 {
  font-size: 42px;
  font-weight: bold;
}
article#hi a {
  color: #383838;
}
article#hi a:hover {
  color: #398FA5;
}
article#me {
  background: #f6f5f1;
  padding: 125px 0 75px;
}
article#me p {
  color: #686868;
  font-size: 18px;
  line-height: 1.8em;
  margin: 0 0 25px;
}
article#pj {
  background: #fff;
  padding: 50px 0 75px;
}
article#pj ol.projects {
  margin: 30px 0 10px;
}
article#pj ol.projects li {
  line-height: 1.6em;
  margin: 0 0 15px;
}
article#pj ol.projects li a {
  font-weight: bold;
}
article#em {
  background: #66A3B6;
}
article#em h2,
article#em h3 {
  color: #fff;
}
article#em h2 {
  font-size: 56px;
  margin-top: -50px;
}
article#em h3 {
  font-size: 32px;
}
article#em .bigfield {
  background: transparent;
  border: none;
  border-bottom: 3px solid #315C69;
  color: #315C69;
  font-size: 48px;
  outline: none;
  width: 85%;
}
article#em textarea.bigfield {
  font-size: 24px;
  width: 85%;
}
article#em .error-msg {
  color: #EB7E7E;
  padding-top: 15px;
}
article#em #steps {
  text-align: right;
}
article#em #steps .step-link {
  color: #315C69;
}
article#em #steps .step-link:hover,
article#em #steps .step-link.done {
  color: #28383A;
}
article#em #steps .step-link.on {
  color: #E9866B;
}
article#em #steps .step-link.on:hover {
  color: #CA745D;
}
article#em #steps .continue {
  border: 4px solid #315C69;
  color: #2F474C;
  float: right;
  font-size: 20px;
  padding: 6px 20px 7px;
  border-radius: 25px;
}
article#em #steps .continue:hover {
  background: #315C69;
  color: #BDCCD6;
}
article#em #steps .continue.submit {
  background: #E9866B;
  border-color: #E9866B;
  color: #fff;
}
article#em #steps .continue.submit:hover {
  background: #CA745D;
  border-color: #CA745D;
}
footer {
  background: #fff;
  clear: both;
  color: #383838;
  font-size: 16px;
  line-height: 1.8em;
  padding: 30px 0;
}
.avatar {
  border-radius: 62px;
  margin: 15px auto 30px;
  width: 124px;
  height: 124px;
}
.avatar.andrew {
  background: url('../img/andrew/bedford.jpg') 50% 50% no-repeat;
  background-size: 124px 124px;
  border: 4px solid rgba(255, 255, 255, 0.5);
}
.avatar.code {
  background: #3C626B;
  border: 4px solid rgba(255, 255, 255, 0.5);
  color: #fff;
  margin-bottom: 50px;
  position: relative;
}
.avatar.code .back {
  font-size: 58px;
  position: absolute;
  top: 32px;
  left: 17px;
}
.avatar.code .front {
  font-size: 52px;
  position: absolute;
  text-shadow: 0 3px 0 #3C626B, 0 -3px 0 #3C626B, -3px 0 0 #3C626B, 3px 0 0 #3C626B;
  top: 41px;
  right: 19px;
}
/*
 * Contact form animations */
.form .field {
  position: absolute;
  visibility: hidden;
  width: 100%;
}
.form .field-current {
  visibility: visible;
}
.form .field-hide {
  visibility: hidden;
}
.form .field-show {
  visibility: visible !important;
}
.form .display-next .field-hide {
  visibility: visible;
}
.form .display-next .field-hide .anim-lower,
.form .display-next .field-hide .anim-upper {
  -webkit-animation: animHideNext 0.5s cubic-bezier(0.7, 0, 0.3, 1) forwards;
  animation: animHideNext 0.5s cubic-bezier(0.7, 0, 0.3, 1) forwards;
}
.form .display-next .field-hide .anim-lower {
  -webkit-animation-delay: 0.1s;
  animation-delay: 0.1s;
}
.form .display-next .field-show .anim-lower,
.form .display-next .field-show .anim-upper {
  -webkit-animation: animShowNext 0.5s cubic-bezier(0.7, 0, 0.3, 1) both 0.15s;
  animation: animShowNext 0.5s cubic-bezier(0.7, 0, 0.3, 1) both 0.15s;
}
.form .display-next .field-show .anim-lower {
  -webkit-animation-delay: 0.25s;
  animation-delay: 0.25s;
}
.form .display-prev .field-hide {
  visibility: visible;
}
.form .display-prev .field-hide .anim-lower,
.form .display-prev .field-hide .anim-upper {
  -webkit-animation: animHidePrev 0.5s cubic-bezier(0.7, 0, 0.3, 1) forwards;
  animation: animHidePrev 0.5s cubic-bezier(0.7, 0, 0.3, 1) forwards;
}
.form .display-prev .field-hide .anim-upper {
  -webkit-animation-delay: 0.1s;
  animation-delay: 0.1s;
}
.form .display-prev .field-show .anim-lower,
.form .display-prev .field-show .anim-upper {
  -webkit-animation: animShowPrev 0.5s cubic-bezier(0.7, 0, 0.3, 1) both 0.15s;
  animation: animShowPrev 0.5s cubic-bezier(0.7, 0, 0.3, 1) both 0.15s;
}
.form .display-prev .field-show .anim-upper {
  -webkit-animation-delay: 0.25s;
  animation-delay: 0.25s;
}
/*
 * Animation defintions */
@-webkit-keyframes animHideNext {
  to {
    opacity: 0;
    -webkit-transform: translate3d(0, -500px, 0);
  }
}
@keyframes animHideNext {
  to {
    opacity: 0;
    -webkit-transform: translate3d(0, -500px, 0);
    transform: translate3d(0, -500px, 0);
  }
}
@-webkit-keyframes animShowNext {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 500px, 0);
  }
}
@keyframes animShowNext {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 500px, 0);
    transform: translate3d(0, 500px, 0);
  }
}
@-webkit-keyframes animHidePrev {
  to {
    opacity: 0;
    -webkit-transform: translate3d(0, 500px, 0);
  }
}
@keyframes animHidePrev {
  to {
    opacity: 0;
    -webkit-transform: translate3d(0, 500px, 0);
    transform: translate3d(0, 500px, 0);
  }
}
@-webkit-keyframes animShowPrev {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -500px, 0);
  }
}
@keyframes animShowPrev {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -500px, 0);
    transform: translate3d(0, -500px, 0);
  }
}
/*
 * Progress bar */
.form-progress {
  position: absolute;
  top: 0;
  width: 0%;
  height: 0.5em;
  background: #fffed8;
  -webkit-transition: width 0.3s ease-in-out;
  transition: width 0.3s ease-in-out;
}
/*
 * General input styles */
input,
textarea,
select {
  font-family: 'Open Sans', sans-serif;
}
::-webkit-input-placeholder {
  color: #437F92;
  text-shadow: none;
}
:-moz-placeholder {
  color: #437F92;
  opacity: 1;
  text-shadow: none;
}
::-moz-placeholder {
  color: #437F92;
  opacity: 1;
  text-shadow: none;
}
:-ms-input-placeholder {
  color: #437F92;
  text-shadow: none;
}
/*
 * Notifications */
.notif {
  -webkit-animation: showNotif 0.5s cubic-bezier(0.7, 0, 0.3, 1) both 0.15s;
  animation: showNotif 0.5s cubic-bezier(0.7, 0, 0.3, 1) both 0.15s;
  background: rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  color: #fff;
  padding: 10px 0 9px;
}
.notif.error {
  background: rgba(176, 15, 18, 0.5);
  padding: 10px 20px;
}
.fadeout {
  -webkit-animation: fadeout 0.5s ease-in;
  animation: fadeout 0.5s ease-in;
  -webkit-animation-fill-mode: forwards;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-delay: 3s;
  position: absolute;
  visibility: visible;
}
.fadeout.success {
  left: 50%;
  margin-left: -225px;
  top: 110px;
  width: 450px;
}
.fadeout.error {
  right: 25px;
  top: 70px;
  width: 275px;
  -webkit-animation-delay: 6s;
}
@-webkit-keyframes showNotif {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -30px, 0);
  }
}
@keyframes showNotif {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -30px, 0);
    transform: translate3d(0, -30px, 0);
  }
}
@-webkit-keyframes fadeout {
  0% {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  85% {
    opacity: 1;
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
  }
  100% {
    opacity: 0;
    -webkit-transform: scale(0.1);
    transform: scale(0.1);
  }
}
/*
 * Directional padding, margins and positions */
.top-padding-5 {
  padding-top: 5px !important;
}
.top-padding-10 {
  padding-top: 10px !important;
}
.top-padding-15 {
  padding-top: 15px !important;
}
.top-padding-20 {
  padding-top: 20px !important;
}
.top-padding-25 {
  padding-top: 25px !important;
}
.top-padding-30 {
  padding-top: 30px !important;
}
.top-padding-35 {
  padding-top: 35px !important;
}
.top-padding-40 {
  padding-top: 40px !important;
}
.top-padding-50 {
  padding-top: 50px !important;
}
.top-padding-60 {
  padding-top: 60px !important;
}
.top-padding-70 {
  padding-top: 70px !important;
}
.top-padding-80 {
  padding-top: 80px !important;
}
.top-padding-90 {
  padding-top: 90px !important;
}
.top-padding-100 {
  padding-top: 100px !important;
}
.top-margin-3 {
  margin-top: 3px !important;
}
.top-margin-5 {
  margin-top: 5px !important;
}
.top-margin-10 {
  margin-top: 10px !important;
}
.top-margin-15 {
  margin-top: 15px !important;
}
.top-margin-20 {
  margin-top: 20px !important;
}
.top-margin-25 {
  margin-top: 25px !important;
}
.top-margin-30 {
  margin-top: 30px !important;
}
.top-margin-35 {
  margin-top: 35px !important;
}
.top-margin-40 {
  margin-top: 40px !important;
}
.top-margin-50 {
  margin-top: 50px !important;
}
.top-margin-60 {
  margin-top: 60px !important;
}
.top-margin-75 {
  margin-top: 75px !important;
}
.top-1 {
  top: 1px;
}
.top-2 {
  top: 2px;
}
.top-3 {
  top: 3px;
}
.top-4 {
  top: 4px;
}
.top-5 {
  top: 5px;
}
.right-padding-5 {
  padding-right: 5px !important;
}
.right-padding-10 {
  padding-right: 10px !important;
}
.right-padding-15 {
  padding-right: 15px !important;
}
.right-padding-20 {
  padding-right: 20px !important;
}
.right-padding-25 {
  padding-right: 25px !important;
}
.right-padding-30 {
  padding-right: 30px !important;
}
.right-padding-35 {
  padding-right: 35px !important;
}
.right-padding-40 {
  padding-right: 40px !important;
}
.right-padding-50 {
  padding-right: 50px !important;
}
.right-padding-60 {
  padding-right: 60px !important;
}
.right-padding-70 {
  padding-right: 70px !important;
}
.right-padding-80 {
  padding-right: 80px !important;
}
.right-padding-90 {
  padding-right: 90px !important;
}
.right-padding-100 {
  padding-right: 100px !important;
}
.right-margin-5 {
  margin-right: 5px !important;
}
.right-margin-10 {
  margin-right: 10px !important;
}
.right-margin-15 {
  margin-right: 15px !important;
}
.right-margin-20 {
  margin-right: 20px !important;
}
.right-margin-25 {
  margin-right: 25px !important;
}
.right-margin-30 {
  margin-right: 30px !important;
}
.right-margin-35 {
  margin-right: 35px !important;
}
.right-margin-40 {
  margin-right: 40px !important;
}
.right-margin-50 {
  margin-right: 50px !important;
}
.right-margin-60 {
  margin-right: 60px !important;
}
.right-margin-75 {
  margin-right: 75px !important;
}
.right-1 {
  right: 1px;
}
.right-2 {
  right: 2px;
}
.right-3 {
  right: 3px;
}
.right-4 {
  right: 4px;
}
.right-5 {
  right: 5px;
}
.bottom-padding-5 {
  padding-bottom: 5px !important;
}
.bottom-padding-10 {
  padding-bottom: 10px !important;
}
.bottom-padding-15 {
  padding-bottom: 15px !important;
}
.bottom-padding-20 {
  padding-bottom: 20px !important;
}
.bottom-padding-25 {
  padding-bottom: 25px !important;
}
.bottom-padding-30 {
  padding-bottom: 30px !important;
}
.bottom-padding-35 {
  padding-bottom: 35px !important;
}
.bottom-padding-40 {
  padding-bottom: 40px !important;
}
.bottom-padding-50 {
  padding-bottom: 50px !important;
}
.bottom-padding-60 {
  padding-bottom: 60px !important;
}
.bottom-padding-70 {
  padding-bottom: 70px !important;
}
.bottom-padding-80 {
  padding-bottom: 80px !important;
}
.bottom-padding-90 {
  padding-bottom: 90px !important;
}
.bottom-padding-100 {
  padding-bottom: 100px !important;
}
.bottom-margin-3 {
  margin-bottom: 3px !important;
}
.bottom-margin-5 {
  margin-bottom: 5px !important;
}
.bottom-margin-10 {
  margin-bottom: 10px !important;
}
.bottom-margin-15 {
  margin-bottom: 15px !important;
}
.bottom-margin-20 {
  margin-bottom: 20px !important;
}
.bottom-margin-25 {
  margin-bottom: 25px !important;
}
.bottom-margin-30 {
  margin-bottom: 30px !important;
}
.bottom-margin-35 {
  margin-bottom: 35px !important;
}
.bottom-margin-40 {
  margin-bottom: 40px !important;
}
.bottom-margin-50 {
  margin-bottom: 50px !important;
}
.bottom-margin-60 {
  margin-bottom: 60px !important;
}
.bottom-margin-75 {
  margin-bottom: 75px !important;
}
.bottom-1 {
  bottom: 1px;
}
.bottom-2 {
  bottom: 2px;
}
.bottom-3 {
  bottom: 3px;
}
.bottom-4 {
  bottom: 4px;
}
.bottom-5 {
  bottom: 5px;
}
.left-padding-5 {
  padding-left: 5px !important;
}
.left-padding-10 {
  padding-left: 10px !important;
}
.left-padding-15 {
  padding-left: 15px !important;
}
.left-padding-20 {
  padding-left: 20px !important;
}
.left-padding-25 {
  padding-left: 25px !important;
}
.left-padding-30 {
  padding-left: 30px !important;
}
.left-padding-35 {
  padding-left: 35px !important;
}
.left-padding-40 {
  padding-left: 40px !important;
}
.left-padding-50 {
  padding-left: 50px !important;
}
.left-padding-60 {
  padding-left: 60px !important;
}
.left-padding-70 {
  padding-left: 70px !important;
}
.left-padding-80 {
  padding-left: 80px !important;
}
.left-padding-90 {
  padding-left: 90px !important;
}
.left-padding-100 {
  padding-left: 100px !important;
}
.left-margin-5 {
  margin-left: 5px !important;
}
.left-margin-10 {
  margin-left: 10px !important;
}
.left-margin-15 {
  margin-left: 15px !important;
}
.left-margin-20 {
  margin-left: 20px !important;
}
.left-margin-25 {
  margin-left: 25px !important;
}
.left-margin-30 {
  margin-left: 30px !important;
}
.left-margin-35 {
  margin-left: 35px !important;
}
.left-margin-40 {
  margin-left: 40px !important;
}
.left-margin-50 {
  margin-left: 50px !important;
}
.left-margin-60 {
  margin-left: 60px !important;
}
.left-margin-75 {
  margin-left: 75px !important;
}
.left-1 {
  left: 1px;
}
.left-2 {
  left: 2px;
}
.left-3 {
  left: 3px;
}
.left-4 {
  left: 4px;
}
.left-5 {
  left: 5px;
}
.no-top-padding {
  padding-top: 0 !important;
}
.no-top-margin {
  margin-top: 0 !important;
}
.no-right-padding {
  padding-right: 0 !important;
}
.no-right-margin {
  margin-right: 0 !important;
}
.no-bottom-padding {
  padding-bottom: 0 !important;
}
.no-bottom-margin {
  margin-bottom: 0 !important;
}
.no-bottom-padding {
  padding-bottom: 0 !important;
}
.no-bottom-margin {
  margin-bottom: 0 !important;
}
.no-padding {
  padding: 0 !important;
}
.no-margin {
  margin: 0 !important;
}
.padding-5 {
  padding: 5px !important;
}
.padding-10 {
  padding: 10px !important;
}
.padding-15 {
  padding: 15px !important;
}
.padding-20 {
  padding: 20px !important;
}
.padding-25 {
  padding: 25px !important;
}
.padding-30 {
  padding: 30px !important;
}
/*
 * Global positioning */
.float-left {
  float: left;
}
.float-right {
  float: right;
}
.float-none {
  float: none;
}
.clear {
  clear: both;
}
.clear-left {
  clear: left;
}
.clear-right {
  clear: right;
}
.relative-position {
  position: relative !important;
}
.absolute-position {
  display: block;
  position: absolute !important;
}
.fixed-position {
  display: block;
  position: fixed !important;
}
/*
 * Display */
.block-level {
  display: block !important;
}
.inline-level {
  display: inline !important;
}
.inline-block {
  display: inline-block !important;
}
.hide {
  display: none !important;
}
/*
 * Specials */
.cursor-disallow {
  cursor: not-allowed;
}
