/*
 * Header and menu system */

header {
    background-color: transparent;
    border-bottom: 1px solid #fff;
    color: #383838;
    height: 75px;
    padding: 25px 0 0;
    position: fixed;
    width: 100%;
    z-index: 10;
    transition: background-color 0.50s ease, border 0.10s ease, padding 0.20s ease;

    h1 {
        color: #383838;
        position: absolute;
        font-size: 20px;
        margin: 0 0 0 5px;
        top: -50px;
        transition: top 0.10s ease;

        a {
            border: none;
            color: #383838;
            &:hover {
                border: none;
            }
        }
    }

    aside {
        float: right;
        padding: 0 15px 0 5px;

        > a {
            color: #383838;
            &:hover {
                color: #398FA5;
            }
        }
    }

    &.more {
        background-color: rgba(255,255,255,.8);
        border-bottom: 1px solid #eee;
        height: 52px;
        padding: 15px 0 0;
        transition: background-color 0.40s ease, border 0.40s ease, padding 0.40s ease;

        h1 {
            color: #383838;
            top: 2px;
            transition: top 0.40s ease;
        }
    }

    menu {
        display: none;
        float: right;
        margin: 0;
        overflow: hidden;
        padding: 0;
        white-space: nowrap;

        .item {
            display: inline-block;
            margin: 0 10px 0 5px;
        }
    }

}

/*
 * Main content panes */

section#content {
    width: 100%;
    height: 100%;
}

article {
    position: relative;
    display: table;
    height: 100%;
    width: 100%;
    font-size: 18px;
    vertical-align: middle;

    .inner {
        display: table-cell;
        vertical-align: middle;
        padding: 50px 0;
        z-index: 1;
    }

    p {
        line-height: 1.7em;
    }

    // Welcome
    &#hi {
        background-color: #fff;
        background-image: url( '../img/backgrounds/philly.png' );
        background-position: bottom center;
        background-repeat: no-repeat;
        //background-size: contain;
        background-size: 1920px 250px;
        color: #383838;
        text-align: center;

        h1 {
            font-size: 42px;
            font-weight: bold;
        }
        a {
            color: #383838;
            &:hover {
                color: #398FA5;
            }
        }
    }

    // Biography
    &#me {
        background: #f6f5f1;
        padding: 125px 0 75px;

        p {
            color: #686868;
            font-size: 18px;
            line-height: 1.8em;
            margin: 0 0 25px;
        }

    }

    // Projects
    &#pj {
        background: #fff;
        padding: 50px 0 75px;

        ol.projects {
            margin: 30px 0 10px;

            li {
                line-height: 1.6em;
                margin: 0 0 15px;

                a {
                    font-weight: bold;
                }
            }
        }
    }

    /*
     * Contact form */
    &#em {
        background: #66A3B6;

        h2,
        h3 {
            color: #fff;
        }

        h2 {
            font-size: 56px;
            margin-top: -50px;
        }

        h3 {
            font-size: 32px;
        }

        .bigfield {
            background: transparent;
            border: none;
            border-bottom: 3px solid #315C69;
            color: #315C69;
            font-size: 48px;
            outline: none;
            width: 85%;
        }

        textarea.bigfield {
            font-size: 24px;
            width: 85%;
        }

        .error-msg {
            color: #EB7E7E;
            padding-top: 15px;
        }

        #steps {
            text-align: right;

            .step-link {
                color: #315C69;
                &:hover,
                &.done {
                    color: #28383A;
                }
                &.on {
                    color: #E9866B;
                    &:hover {
                        color: #CA745D;
                    }
                }
            }

            .continue {
                border: 4px solid #315C69;
                color: #2F474C;
                float: right;
                font-size: 20px;
                padding: 6px 20px 7px;
                border-radius: 25px;

                &:hover {
                    background: #315C69;
                    color: #BDCCD6;
                }

                &.submit {
                    background: #E9866B;
                    border-color: #E9866B;
                    color: #fff;
                    &:hover {
                        background: #CA745D;
                        border-color: #CA745D;
                    }
                }
            }
        }
    }

}

footer {
    background: #fff;
    clear: both;
    color: #383838;
    font-size: 16px;
    line-height: 1.8em;
    padding: 30px 0;
}

.avatar {
    border-radius: 62px;
    margin: 15px auto 30px;
    width: 124px;
    height: 124px;

    &.andrew {
        background: url( '../img/andrew/bedford.jpg' ) 50% 50% no-repeat;
        background-size: 124px 124px;
        border: 4px solid rgba(255,255,255,.5);
    }

    &.code {
        background: #3C626B;
        border: 4px solid rgba(255,255,255,.5);
        color: #fff;
        margin-bottom: 50px;
        position: relative;

        .back {
            font-size: 58px;
            position: absolute;
            top: 32px;
            left: 17px;
        }

        .front {
            font-size: 52px;
            position: absolute;
            text-shadow: 0 3px 0 #3C626B, 0 -3px 0 #3C626B, -3px 0 0 #3C626B, 3px 0 0 #3C626B;
            top: 41px;
            right: 19px;
        }
    }
}
