/*
 * Fonts */

@font-face {
    font-family: 'Museo Sans';
    font-style: normal;
    font-weight: 300;
    src: local( 'Museo Sans' ),
         url( '../fonts/museosans-webfont.eot' ) format( 'embedded-opentype' ),
         url( '../fonts/museosans-webfont.woff' ) format( 'woff' ),
         url( '../fonts/museosans-webfont.ttf' ) format( 'truetype' ),
         url( '../fonts/museosans-webfont.svg' ) format( 'svg' );
}

@font-face {
    font-family: 'Museo';
    font-style: normal;
    font-weight: 500;
    src: local( 'Museo' ),
         url( '../fonts/museo300-webfont.eot' ) format( 'embedded-opentype' ),
         url( '../fonts/museo300-webfont.woff' ) format( 'woff' ),
         url( '../fonts/museo300-webfont.ttf' ) format( 'truetype' ),
         url( '../fonts/museo300-webfont.svg' ) format( 'svg' );
}

@font-face {
    font-family: 'Museo Slab';
    font-style: normal;
    src: local( 'Museo Slab' ),
         url( '../fonts/museoslab-webfont.eot' ) format( 'embedded-opentype' ),
         url( '../fonts/museoslab-webfont.woff' ) format( 'woff' ),
         url( '../fonts/museoslab-webfont.ttf' ) format( 'truetype' ),
         url( '../fonts/museoslab-webfont.svg' ) format( 'svg' );
}


/*
 * Headers */

h1 {
    font-size: 36px;
    line-height: 1.0em;
    margin: 40px 0 20px;
}

h2 {
    color: #444;
    font-size: 24px;
    font-weight: 500;
    line-height: 1.0em;
    margin: 30px 0 15px;
}


/*
 * Content */

p {
    line-height: 1.6em;
    margin: 15px 0;
}


/*
 * Quotes */

blockquote,
pre {
    background: #eee;
    border: none;
    border-left: 5px solid #ddd;
    font-size: 16px;
    line-height: 1.6em;
    margin: 15px 0;
    padding: 18px 24px 20px 20px;
    text-indent: 0;
    display: inline-block;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;

    p:first-child {
        margin-top: 0;
    }
}

/*
 * Font families */

.serif-font { font-family: Arial; }
.sans-font { font-family: Arial; }


/*
 * Font weights */

.bold-weight { font-weight: bold !important; }
.italic-weight { font-style: italic !important; }
.normal-weight { font-weight: normal !important; }


/*
 * Font styles */

.uppercase { text-transform: uppercase; }
.normal-style { font-style: normal; }


/*
 * Text alignment */

.centered-text { text-align: center; }
.left-justified { text-align: left; }
.right-justified { text-align: right; }


/*
 * Font sizes */

.font-size-11 { font-size: 11px; }
.font-size-13 { font-size: 13px; }
.font-size-15 { font-size: 15px; }
.font-size-17 { font-size: 17px; }
.font-size-18 { font-size: 18px; }
.font-size-21 { font-size: 21px; }


/*
 * Line heights */

.line-height-1-0 { line-height: 1.0em; }
.line-height-1-3 { line-height: 1.3em; }
.line-height-1-4 { line-height: 1.4em; }
.line-height-1-5 { line-height: 1.5em; }
.line-height-1-6 { line-height: 1.6em; }
.line-height-1-7 { line-height: 1.7em; }
.line-height-1-8 { line-height: 1.8em; }
